* {
    box-sizing: border-box;
    margin: 4px;
}


h1 {
    color: #DB838A;
    font-size: 100px;
}

.content {
    background-color: #614679;
    color: white;
    padding: 30px 50px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    border: 1px solid rgba(19, 5, 99, 0.178);
    border-radius: 20px;
    align-self: center;
    box-shadow: rgba(50, 50, 93, 0.616) 0px 13px 27px -5px, rgba(0, 0, 0, 0.658) 0px 8px 16px -8px;
}

.catTitle {
    margin-top: 40px;
    font-size: 3rem;
    text-align: center;
    color: #FFB592;
}
